/* Nav menu */
body {
    width: 1200px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}
.firstSection {
    background-image: url(./photos/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-repeat: no-repeat;
    height: 60rem;

}
.projectHead {
    font-size: 2rem;
    font-style: oblique;
    font-weight: bold;
    color: #bbdaf7;

}
.flexHeader {
    display: flex;
    color:azure;
    gap: 5rem;
    font-size: 1.5rem;
    padding: 2rem;
}
.firstHeadline {
    color: azure;
    text-align: center;
    position: relative;
    top: 10rem;
    font-size:x-large;
    line-height: 2rem;
    padding: 0 20rem 0;
}
.rotateLogo:hover {
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     transition-duration: 1s;
     scale: 1.5;
}

/* Text section */
.textHeadline {
    text-align: center;
    font-size: x-large;
}
.headlineSize {
    font-size: x-large;
}
.flexText {
    display: flex;
    gap: 1rem;
    height: 20rem;
    background-color: #ffffff;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    position: relative;
    bottom: 5rem;
    
}
.myButton:hover {
    transform: rotate(20deg);
    transition-duration: 1s;
}


/* Last section */
.lastSection {
    background-image: url(./photos/IMG_1334_72dpi_RGB_\ 1.png);
    height: 40rem;
    background-repeat: no-repeat;
}
.videoButton {
    width: 10rem;
    height: 10rem;
    background-color: #39C2D7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoButton:hover {
    transition: 1s;
    background-color: #ffffff;
    scale: 1.1;
}

.arrowLogo:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.divInsights {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 5em;
    line-height: 2rem;
    font-size: x-large;
    display:inline-block;
    padding: 0 20rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* footer */
.footerSection {
    height: 7rem;
    background-color: #464547;
    padding: 2rem;
    bottom: 5px;
    position: relative;
}
.flexFooter {
    display: flex;
    color: #ffffff;
    flex-basis: 100%;
    gap: 20rem;
    font-size: 1rem;
}
.footerLogo {
    text-align: center;
    font-size: 1rem;
}
.smallLogo {
    width: 20px;
    height: 20px;
}
/* Responsive design */
@media (max-width: 768px) {

    .flexHeader {
        display: none;
    }
    .firstHeadline {
        right: 18rem;
    }
    .textHeadline {
        position: relative;
        right: 18rem;
    }
    .flexText {
        flex-direction: column;

    }
    .divInsights {
        right: 18rem;
    }
    .flexFooter {
        gap: 2rem;
    }
}
/* animations */
.animationRays {
    position: absolute;
    margin-left: 740px;
    margin-top: 82px; 
}
.animationStars {
    position: absolute;
    margin-left: 440px;
    margin-top: 30px;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes animationStars {
    from { transform: translateX(0);}
    to {transform: translatex(100px);}
}
@keyframes .animationRays {
    
}
